
{% extends "bases.html" %}
{% load static %}
{% block title %}
User Profile...
{% endblock  %}
 {% block content %}
 
 <h1>User Profile</h1>
{{ page_user }}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
        <p class ="card-text text-muted">
        <a href="{{ page_user.website_url }}">Website url</a> |
    <a href="{{ page_user.facebook_url }}" target="_blank">Facebook Page |</a>
        <a href="{{ page_user.instagram_url }}">Instagram page</a> |
        <a href="{{ page_user.linkedin_url }}">Linkedin Page</a><br>
        {{page_user.bio}} <br>
        {{ page_user.body }} <br>
        {{ page_user.date_post }}

       
      </div>
    </div>
  </div>
</div>
 {% endblock  %} 

